
.icon-direction:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-mail-squared:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-star-half:before { content: '\e808'; } /* '' */
.icon-star-half-alt:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-video:before { content: '\e80c'; } /* '' */
.icon-picture:before { content: '\e80d'; } /* '' */
.icon-minus-squared-alt:before { content: '\e80e'; } /* '' */
.icon-minus-squared:before { content: '\e80f'; } /* '' */
.icon-minus-circled:before { content: '\e810'; } /* '' */
.icon-minus:before { content: '\e811'; } /* '' */
.icon-plus-squared-alt:before { content: '\e812'; } /* '' */
.icon-plus-squared:before { content: '\e813'; } /* '' */
.icon-plus-circled:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-cancel-circled2:before { content: '\e816'; } /* '' */
.icon-cancel-circled:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-ok-squared:before { content: '\e819'; } /* '' */
.icon-ok-circled2:before { content: '\e81a'; } /* '' */
.icon-ok-circled:before { content: '\e81b'; } /* '' */
.icon-ok:before { content: '\e81c'; } /* '' */
.icon-camera:before { content: '\e81d'; } /* '' */
.icon-camera-alt:before { content: '\e81e'; } /* '' */
.icon-help:before { content: '\e81f'; } /* '' */
.icon-help-circled:before { content: '\e820'; } /* '' */
.icon-home:before { content: '\e821'; } /* '' */
.icon-lock:before { content: '\e822'; } /* '' */
.icon-lock-open:before { content: '\e823'; } /* '' */
.icon-lock-open-alt:before { content: '\e824'; } /* '' */
.icon-pin:before { content: '\e825'; } /* '' */
.icon-eye:before { content: '\e826'; } /* '' */
.icon-eye-off:before { content: '\e827'; } /* '' */
.icon-quote-right:before { content: '\e828'; } /* '' */
.icon-quote-left:before { content: '\e829'; } /* '' */
.icon-pencil:before { content: '\e82a'; } /* '' */
.icon-edit:before { content: '\e82b'; } /* '' */
.icon-pencil-squared:before { content: '\e82c'; } /* '' */
.icon-location:before { content: '\e82d'; } /* '' */